<h1>Welcome#index</h1>
<p class="text-danger">Find me in app/views/welcome/index.html.erb</p>


<button class="btn btn-primary"><%= link_to 'Blog Link', controller: 'articles' %></button> <%# route to 'article' controller %>
